{% extends "AtelierCategoryBundle::layout.html.twig" %}
 
{% block title %}
  Display a Category - {{ parent() }}
{% endblock %}
 
{% block category_body %}

<h3>Category {% include "AtelierCategoryBundle:Category:category.html.twig" %}</h3>

<p>
      {% for message in app.session.flashbag.get('info') %}
        <i>{{ message }}</i>
      {% endfor %}
</p>

<p>
<i>
	Id =  {{ category.id }} 
</i>
<p>
	Number of products of this category =  <a href="{{ path('atelier_product_dispAllByCategory', {'category': category.id}) }}/1">{{ category.nbProducts() }}</a>
</p>
<p>
	Number of materials of this category =  <a href="{{ path('atelier_material_dispAllByCategory', {'category': category.id}) }}/1">{{ category.nbMaterials() }}</a>
</p>


</p>
<p>
    <a href="{{ path('atelier_category_dispAll') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Go back to the list of categories
    </a>
    
    <a href="{{ path('atelier_category_edit', {'id': category.id}) }}" class="btn">
      <i class="icon-edit"></i>
      Edit the category
    </a>
    <a href="{{ path('atelier_category_delete', {'id': category.id}) }}" class="btn">
      <i class="icon-trash"></i>
      Delete the category
    </a>
  </p>



{% endblock %}
