{% extends "AtelierCategoryBundle::layout.html.twig" %} 

{% block title %}
  Supprimer une Catégorie - {{ parent() }}
{% endblock %}
 
{% block category_body %}
 
  <h2>Supprimer une catégorie</h2>
 
  <p>
    Etes-vous certain de vouloir supprimer la catégorie "{{ category.name }}" ?
  </p>
 
  <form action="{{ path('atelier_category_delete', {'id': category.id}) }}" method="post">
    <a href="{{ path('atelier_category_disp', {'id': category.id}) }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la catégorie
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
 
{% endblock %}
