{% extends "AtelierCategoryBundle::layout.html.twig" %}
 
{% block title %}
  Lecture d'une Catégorie - {{ parent() }}
{% endblock %}
 
{% block category_body %}

<h2>Afficher une catégorie</h2>

<p>
      {% for message in app.session.flashbag.get('info') %}
        <i>{{ message }}</i>
      {% endfor %}
</p>

<h3>Catégorie {% include "AtelierCategoryBundle:Category:category.html.twig" %} </h3>
<p>
	Id =  {{ category.id }} 
</p>
<p>
    <a href="{{ path('atelier_category_dispAll') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    
    <a href="{{ path('atelier_category_edit', {'id': category.id}) }}" class="btn">
      <i class="icon-edit"></i>
      Modifier la catégorie
    </a>
    <a href="{{ path('atelier_category_delete', {'id': category.id}) }}" class="btn">
      <i class="icon-trash"></i>
      Supprimer la catégorie
    </a>
  </p>



{% endblock %}
