<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
  </form>
</div>

<script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>

<script type="text/javascript">
$('#atelier_reservationbundle_reservationtype_category').change( function() {
    $.ajax({
        type: "GET",
        data: "data=" + $(this).val(),
        url:"{{ path('atelier_reservation_products_by_category_id') }}",
        success: function(msg){
            if (msg != ''){
               $('#atelier_reservationbundle_reservationtype_product').html(msg).show();
               }
               else
               {
                   $('#atelier_reservationbundle_reservationtype_product').html('<em>No item result</em>');
               }
           }
       });
    $.ajax({
        type: "GET",
        data: "data=" + $(this).val(),
        url:"{{ path('atelier_reservation_materials_by_category_id') }}",
        success: function(msg){
            if (msg != ''){
               $('#atelier_reservationbundle_reservationtype_materials').html(msg).show();
               }
               else
               {
                   $('#atelier_reservationbundle_reservationtype_materials').html('<em>No item result</em>');
               }
           }
       });
       
  });
  
  
$('#atelier_reservationbundle_reservationtype_product').change( function() {
    $.ajax({
        type: "GET",
        data: "data=" + $(this).val(),
        url:"{{ path('atelier_reservation_materials_by_product_id') }}",
        success: function(msg){
            if (msg != ''){
               $('#atelier_reservationbundle_reservationtype_materials').html(msg).show();
               }
               else
               {
                   $('#atelier_reservationbundle_reservationtype_materials').html('<em>No item result</em>');
               }
           }
       });
       
  });
</script>

