{% extends "AtelierUserBundle::layout.html.twig" %}

{% block title %}
  Add the admin right - {{ parent() }}
{% endblock %}

{% block user_body %}
    <h3>Add the admin right</h3>
 
  <p>
    Are you sure you want to add the admin right to the user "{{ user.username }}" ?
  </p>
 
  <form action="{{ path('atelier_user_addAdmin', {'id': user.id}) }}" method="post">
    <a href="{{ path('atelier_user_show', {'id': user.id}) }}" class="btn">
      <i class="icon-chevron-left"></i>
      Go back to the {{user.getUsername()}} profile
    </a>
    <input type="submit" value="Add admin right" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}
